data/
data_release/benchmark/ind.mat
data_release/benchmark/language_original.mat
data_release/supervision_signals/G1.h5
data_release/test_phase_inputs/encode_hn2_rnn_100_2_full.mat
data_release/test_phase_inputs/sr1_8.mat
G_shape_results/
G_shape_results_0/

G_image_results/
G_image_results_0.7/
G_image_results_0.8/
G_image_results_0.9/
G_shape_results_0.8/
G_shape_results_0.9/


__pycache__/